# Define a host for the local machine

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               localhost
    alias                   localhost
    address                 127.0.0.1
}


define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               ec2-54-209-53-56.compute-1.amazonaws.com
    alias                   sydneyweb01
    address                 54.209.53.56

}

define host {

    use                     linux-server            ; Name of host template to use
                                                    ; This host definition will inherit all variables that are defined
                                                    ; in (or inherited by) the linux-server host template definition.
    host_name               ec2-3-84-83-104.compute-1.amazonaws.com
    alias                   nvirginaweb01
    address                 3.84.83.104

}

define host {
    use                     linux-server
    host_name               ec2-34-201-132-202.compute-1.amazonaws.com
    alias                   nvirginaweb02
    address                 34.201.132.202
}

define host {
    use                     linux-server
    host_name               ec2-18-212-146-143.compute-1.amazonaws.com
    alias                   oregontomcat01
    address                 18.212.146.143
}

define host {
    use                     linux-server
    host_name               ec2-3-91-35-254.compute-1.amazonaws.com
    alias                   oregontomcat02
    address                 3.91.35.254
}
